<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeatControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <HeatControl.Properties.Settings>
            <setting name="OTGWLabelHostname" serializeAs="String">
                <value>OTGW_wifi</value>
            </setting>
            <setting name="OTGWCheckBoxEnableLoggingToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OTGWTextBoxLogfileName" serializeAs="String">
                <value>E:\HeatControlLogOTGW.txt</value>
            </setting>
            <setting name="OTGWCheckBoxAppend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxTextBoxHostname" serializeAs="String">
                <value>KEQ0567251</value>
            </setting>
            <setting name="MaxCheckBoxEnableLoggingToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxTextBoxLogFilename" serializeAs="String">
                <value>E:\HeatControlLogMaxcube.txt</value>
            </setting>
            <setting name="MaxCheckBoxAppend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OTGWButtonConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxButtonConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxCheckedListBoxOverviewPlotSelection" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxCheckedListBoxOverviewControlSelection" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxCheckBoxOverviewEnableControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxTextBoxControlTemp00" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxTextBoxControlTemp05" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxTextBoxControlTemp10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxTextBoxControlTemp15" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MaxTextBoxControlTemp20" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MaxTextBoxControlTemp25" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MaxTextBoxControlTemp30" serializeAs="String">
                <value>60</value>
            </setting>
        </HeatControl.Properties.Settings>
    </userSettings>
</configuration>
